%h3 Sign up
.row
  = devise_error_messages!
  .col-md-6
    = form_for(resource, as: resource_name, class: 'input-group', url: registration_path(resource_name)) do |f|
      = f.label :first_name
      = f.text_field :first_name, autofocus: true, class: 'form-control', required: true

      = f.label :last_name
      = f.text_field :last_name, class: 'form-control', required: true

      = f.label :phone
      = f.telephone_field :phone, class: 'form-control phone-input', placeholder: '+38(xxx)-xxx-xx-xx', autocomplete: "phone", required: true

      .field
        = f.label :email
        = f.email_field :email, class: 'form-control', autocomplete: "email"

      .field
        = f.label :birthday
        = f.date_field :birthday, class: 'form-control'

      .field
        = f.label :start_in_company
        = f.date_field :start_in_company, class: 'form-control', value: Time.current.strftime('%Y-%m-%d')

      .field
        = f.label :position
        = f.text_field :position, class: 'form-control'

      .field
        = f.label :password
        - if @minimum_password_length
          %em
            = @minimum_password_length
            characters minimum
        = f.password_field :password, class: 'form-control', autocomplete: "new-password"

      .field
        = f.label :password_confirmation
        = f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password"

      .field
        = f.label :project_id
        = f.select :project_id, @projects.collect { |p| [ p.name, p.id ] }, {} , class: 'form-control'

      .actions
        = f.submit "Sign up", class: 'btn'
        - if devise_mapping.omniauthable?
          - resource_class.omniauth_providers.each do |provider|
            = link_to link_to image_tag("/images/google+.png", height: 50, width: 50, border: 0), omniauth_authorize_path(resource_name, provider)
