!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Cyber Dashboard
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all' # delete if unnecessary
    = javascript_include_tag 'application'            # delete if unnecessary

    = stylesheet_pack_tag 'stylesheet', media: 'all'
    = javascript_pack_tag 'stylesheet'
    = javascript_pack_tag 'application'

    = favicon_link_tag("/images/favicon.ico")
    %link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.7.1/css/all.css", :integrity => "sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr", :rel => "stylesheet"}/
  %body
    = react_component('TopHeader', react_header_props)
    .div{ 'data-behavior': 'vue' }
      .container.pad-bot25
        = yield
      %footer.footer
        .container
          %span &copy; CyberCraftInc 2019
