!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Cyber Dashboard
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all' # delete if unnecessary
    = javascript_include_tag 'application'            # delete if unnecessary

    = stylesheet_pack_tag 'stylesheet', media: 'all'
    = javascript_pack_tag 'stylesheet'
    = stylesheet_pack_tag 'application', media: 'all'
    = javascript_pack_tag 'application'

    %link{rel:"stylesheet", href:"https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"}

    = favicon_link_tag("/images/favicon.ico")
  %body
    = react_component('TopHeader', react_header_props)
    .div{ 'data-behavior': 'vue' }
      .container.pad-bot25
        = yield
      %footer.footer
        .container
          .row
            .col-lg-6
              &copy; CyberCraftInc 2012-2020. All Rights Reserved.
            .col-lg-6
              %a{href: "https://www.facebook.com/CyberCraft.Lviv/", target: "_blank"}
                Facebook
              |
              %a{href: "https://www.linkedin.com/company/cybercraft-inc-", target: "_blank"}
                Linkedin
              |
              %a{href: "https://twitter.com/CyberCraft_Inc", target: "_blank"}
                Twitter
              |
              %a{href: "https://cybercraftinc.com/"}
                Visit our website
              |
              %a{href: "https://jobs.dou.ua/companies/cybercraft/reviews/"}
                Feedback
