!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Cyber Dashboard
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all' # delete if unnecessary
    = javascript_include_tag 'application'            # delete if unnecessary
    = stylesheet_pack_tag 'stylesheet', media: 'all'
    = javascript_pack_tag 'application'
  %body
    .container{ 'data-behavior': 'vue' }
      =yield
